body{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: #127493;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: large;
}
.vertical_nav{
    background-color: #0FA0CE;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 20vw;
    height: 100vh;
    position: fixed;
}
.vertical_nav a{
    display: block;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    color: white;
    font-weight: bold;
}
.vertical_nav a:hover{
    background-color: #4CBFE3;
}

/* Sub Body Design */

.task_body{
    margin-left: 20vw;
}
.sub_nav{
    background-color: #0FA0CE;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: large;
}
.sub_vertical_nav{
    background-color: #4CBFE3;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 20vw;
    height: 100vh;
    position: fixed;
}
.sub_vertical_nav a{
    display: block;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    color: white;
    font-weight: bold;
}
.sub_vertical_nav a:hover{
    background-color: #6ed1f0;
}

/* Button Design */

.green_btn{
    padding: 8px;
    background-color: #2B9750;
    color: white;
    border-radius: 5px;
}
.green_btn:hover{
    background-color: #57C57C;
}

.red_btn{
    padding: 8px;
    background-color: #C84A4A;
    color: white;
    border-radius: 5px;
}
.red_btn:hover{
    background-color: #E97E7E;
}

.white_btn{
    padding: 8px;
    background-color: #e2ffff;
    color: #00072e;
    border-radius: 5px;
}
.white_btn:hover{
    background-color: #77d4d4;
    color: #00072e;
}
/* rrggbbtt 0-9A-F */
.dialog_container{
    background-color: #00000077;
    position:absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}
.dialog{
    width: 90vw;
    height: 60vh;
    margin: auto;
    margin-top: 20vh;
    background-image: linear-gradient(to bottom right, rgb(199, 241, 255), white);
    border-radius: 20px;
    padding: 20px;
    position: relative;;
}

@media screen and (min-width: 480px) {
    .dialog {
        width: 40vw;
      background-color: lightgreen;
    }
  }

.header_container{
    margin-top: 10px;
    display: block;
    width: 100%;
}
.dialog_label{
    display: block;

}
.dialog_header{
    display:inline;
    width: 100%;
    text-align: center;
}
.dialog_close_btn{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: #C84A4A;
    color: white;
}
.dialog_close_btn:hover{
    background-color: #E97E7E;
}
.footer_container{
    width: calc(100% - 35px);
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
}
.dialog_input{
    width: calc(100% - 15px);
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.dialog_textarea{
    width: calc(100% - 12px);
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
}


.display_none{
    display: none;
}